*.pdf
*.png
*.gif

Practice
Research
TCM_Stuff

*.lock
*.log
*.ipynb
fast-compile

*.bib
!full-bibliography.bib
ltximg

*.toc
*.out
*.blg
*.aux
*.rtf

.DS_Store
*.desktop
*.docx
*.jpg

notes.txt
horizons_vel.txt
horizons_results.txt
tcm-list.txt
updates.org.txt
ds.txt

*.bak
__pycache__
relevant symlinks


