*.pdf
*.png
*.gif

Practice
Research
TCM_Stuff

*.lock
*.ipynb
fast-compile

*.bib
!full-bibliography.bib
ltximg

*.toc
*.out
*.blg
*.aux
*.rtf

.DS_Store
*.desktop
*.docx
*.jpg

notes.txt
horizons_vel.txt
horizons_results.txt
