[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
poliastro = {path="/Users/rohangoyal/Downloads/poliastro-0.14.0/dist/poliastro-0.14.0-py3-none-any.whl"}
jupyter = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.8"
